<div class="container mt-4">
  <h1>Creation of a new list</h1>
  <div class="wraper">
    <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.submit%>
    <% end %>
  </div>
</div>
